body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #111827;
    /*background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);*/
    min-height: 100%;
}

/*p {*/
/*    color: #0D1321;*/
/*}*/

.upload-card {
    width: 25rem;
}

/*footer {*/
/*    bottom: 0;*/
/*}*/

/*.header {*/
/*    margin-top: 10px !important;*/
/*    font-size: 3rem;*/
/*    font-weight: 800;*/
/*    line-height: 1.4;*/
/*}*/

.instructions {
    line-height: 1.7;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
}

/*.disabled {*/
/*    background-color: #888888;*/
/*}*/

/*.text-left {*/
/*    text-align: left;*/
/*}*/

/*.download-button {*/
/*    width: 100%;*/
/*}*/

/*.scale-label {*/
/*    font-size: 14px;*/
/*}*/

/*.creator:hover {*/
/*    color: #ffc107 !important;*/
/*}*/
